body {
    font-family: sans-serif;

}

h2 {
    margin: 0 0 10px 30px;
    color: dimgrey;

}

h3 {
    margin: 0 0 0 30px;
}
.tChannels {
    color: blue;

}
.tDevices {
    color: limegreen;
    margin: 0 0 20px 30px;
    float: left;
}

select {
    margin: 0 0 0 100px;
}

table {
    float: right;
    margin-right: 45%;
}
td {
    color: white;
    padding: 5px 50px;
    margin: auto;

}
.channels, .devices {
    font-size: 25px
}
.countries {
    color: dimgrey;
    font-size: 12px;

}
.channels {
    background-color: blue;

}

.devices {

    background-color: limegreen;
}
